<!doctype html>
<html ng-app="MainApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>EXAMEN_EA_ANGULAR</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<!-- Angular js-->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<!-- Cargamos el javascript de angular -->
	<script src="index.js"></script>

</head>
<body ng-controller="mainController">
	<div class="container">

		<div class="jumbotron text-center"style="background-color: lightgrey" ng-prueba>
			<h1>EXAMEN EA ANGULAR
				<!--<span class="label label-primary">{{ usuarios.length}}</span>-->
			</h1>
		</div>
		<div class="row">
			<div class="col-sm-7">
				<input type="text" class="form-control input-lg text-center" placeholder="Titulo" ng-value="filtro" ng-model="filtro.titulo">
				<table class="table table-striped">
					<tr class="info  text-center">
						<td>Titulo</td>
						<td>Autor</td>
						<td>Editorial</td>
						<td>Lengua</td>
						<td>Descripcion</td>

					</tr>
					<tr class="text-center" ng-repeat="libro in libros |filter:filtro" ng-click="selectLibro(libro)">
						<td>{{libro.titulo}}</td>
						<td>{{libro.autor}}</td>
						<td>{{libro.editorial}}</td>
						<td>{{libro.lengua}}</td>
						<td>{{libro.descripcion}}</td>
					</tr>
				</table>					
			</div>
			<div class="col-sm-5 text-center">
				<form name="myForm">
					<div class="form-group col-sm-offset-1">
						<input type="text" class="form-control input-lg text-center" placeholder="Titulo" ng-model="newLibro.titulo"required>
						<br>
						<input type="text" class="form-control input-lg text-center" placeholder="Autor" ng-model="newLibro.autor" required ng-disable="bloquear">
						<br>
						<input type="text" class="form-control input-lg text-center" placeholder="Editorial" ng-model="newLibro.editorial" required>
						<br>
						<input type="text" class="form-control input-lg text-center" placeholder="Lengua" ng-model="newLibro.lengua" required>
						<br>
						<input type="text" class="form-control input-lg text-center" placeholder="Descripcion" ng-model="newLibro.descripcion" required>
					</div>

					<!-- Acciones que podemos realizar en el formulario -->
					<button type="submit" class="btn btn-success btn-lg" ng-click="registrar()" ng-disabled="myForm.$invalid || selected">Registrar</button>
					<button type="submit" class="btn btn-warning btn-lg" ng-click="modificar(newLibro)" ng-disabled="!newLibro.titulo || !newLibro.autor || !newLibro.editorial || !newLibro.lengua || !newLibro.descripcion || !selected">Modificar</button>
					<button type="submit" class="btn btn-danger btn-lg" ng-click="borrar(newLibro)" ng-disabled="!newLibro.titulo || !newLibro.autor || !newLibro.editorial || !newLibro.lengua || !newLibro.descripcion ||!selected">Borrar</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>